body.main {
	background-color: #e0e8ef
}
body.login,
body.register {
	background-color: #343a40;
}
form label.error {
	color: red;
}
.box {
	margin: 10px;
	padding: 15px;
	background: white;
	border-radius: 10px;
	box-shadow: 2px 2px 2px 1px rgba(78, 78, 78, 0.2);
}
.box .table thead th {
	border-top: 0;
}
/* Login and register pages */
.login .box,
.register .box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    margin: auto;
    position: absolute;
}
.login .box .submit-container,
.register .box .submit-container {
	margin-top: 15px;
	text-align: right;
}

.login .box .title-container,
.register .box .title-container {
	text-align: center;
}
form .field {
	margin-bottom: 10px
}

/* File-explorer */
.table.file-explorer tr.folder {
	cursor: pointer;
}

/* Left-bar and Top-bar */
.main .root .top-bar {
	width: 100%;
	position: fixed;
	border-bottom: 1px solid grey;
}
.main .root .top-bar .navbar-title {
	width: 118px;
	font-size: 24px;
	cursor: default;
}
.main .root .navbar-collapse{
	display: -ms-flexbox !important;
	display: flex !important;
	-ms-flex-preferred-size: auto;
	flex-basis: auto;
}
.main .root .left-bar {
	width: 150px;
	height: 100%;
	position: fixed; 
	overflow: auto;
	margin-top: 63px;
}
.main .root .nav-link {
	font-size: 18px;
}
.main .root .left-bar .nav-link {
	color: rgba(255, 255, 255, 0.5);
}
.main .root .left-bar .nav-link:hover, .root .left-bar .nav-link:focus {
	color: rgba(255, 255, 255, 0.75);
}
.main .root .left-bar .nav-link.active {
	color: #fff;
}
.main .root .content {
	margin-left: 150px;
	padding: 20px;
	padding-top: 83px; /* 20 + 63 */
	border-radius: 5px;
}