body.main {
	background-color: #e0e8ef
}
body.connexion,
body.inscription {
	background-color: #343a40;
}
form label.error {
	color: red;
}
.box {
	margin: 10px;
	padding: 15px;
	background: white;
	border-radius: 10px;
	box-shadow: 2px 2px 2px 1px rgba(78, 78, 78, 0.2);
}
.box .table thead th {
	border-top: 0;
}
.hide {
	display: none;
}
/* Modals */
.prompt-modal .modal-message {
	margin: 0 0 10px 10px;
}

/* Connexion page */
.connexion .box,
.inscription .box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    margin: auto;
    position: absolute;
}
.connexion .box .submit-container,
.inscription .box .submit-container {
	margin-top: 15px;
	text-align: right;
}

.connexion .box .title-container,
.inscription .box .title-container {
	text-align: center;
}

/* File-explorer */
.content .table.file-explorer tr.folder {
	cursor: pointer;
}
.content .header {
	margin: 15px;
	min-height: 40px;
}
.content .header .buttons {
	float: right;
}
.content .header .buttons button {
	margin-left: 10px;
}
.content .header .breadcrumbs .icon {
	width: 40px;
	vertical-align: text-bottom;
}
.content .header .breadcrumbs span {
	font-size: 17px;
	cursor: pointer;
}
.content .header .breadcrumbs b {
	font-size: 22px;
    padding-right: 5px;
    padding-left: 5px;
}
.content .file-explorer th img {
	width: 24px;
}
.content .file-explorer td {
	word-break: break-word;
}
.content .file-explorer td img {
	width: 20px;
	margin: 0 4px;
	cursor: pointer;
}
.content .empty-table {
	text-align: center;
	font-style: italic;
}
/* Left-bar and Top-bar */
.main .root .top-bar {
	width: 100%;
	position: fixed;
	border-bottom: 1px solid grey;
}
.main .root .top-bar .navbar-title {
	width: 118px;
	font-size: 24px;
	cursor: default;
}
.main .root .top-bar .alerts{
	position: absolute;
    top: 0;
    margin-left: 76px;
    margin-top: 70px;
    width: 100%;
}
.main .root .top-bar .alerts .alert{
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	width: fit-content;
}
.main .root .top-bar .alerts .alert strong {
    float: right;
    cursor: pointer;
    margin-left: 15px;
}
.main .root .navbar-collapse{
	display: -ms-flexbox !important;
	display: flex !important;
	-ms-flex-preferred-size: auto;
	flex-basis: auto;
}
.main .root .left-bar {
	width: 150px;
	height: 100%;
	position: fixed; 
	overflow: auto;
	margin-top: 63px;
}
.main .root .nav-link {
	font-size: 18px;
}
.main .root .left-bar .nav-link {
	color: rgba(255, 255, 255, 0.5);
}
.main .root .left-bar .nav-link:hover, .root .left-bar .nav-link:focus {
	color: rgba(255, 255, 255, 0.75);
}
.main .root .left-bar .nav-link.active {
	color: #fff;
}
.main .root .content {
	margin-left: 150px;
	padding: 20px;
	padding-top: 83px; /* 20 + 63 */
	border-radius: 5px;
}