<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Connexion</title>
                <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.css') }}">
                <link rel="stylesheet" href="{{ asset('css/style.css') }}">
                <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        		<script src="{{ asset('bootstrap/js/bootstrap.js') }}"></script>
    </head>
    <body class="connexion">
		<div class="box">
			<div class="title-container">
				<h1>FILEBOX</h1>
				<i>Sign in</i>
			</div>
			<form method="post">
				<div class="field">
					<label>Email</label>
					<input type="text" class="form-control">
				</div>
				<div class="field">
					<label>Password</label>
					<input type="password" class="form-control">
				</div>
				<div class="submit-container">
					<button class="btn btn-primary" type="submit">Connect</button>
				</div>
			</form>
		</div>
    </body>
</html>